body{
    font-family: 'Lato', sans-serif;
    background-color: antiquewhite;
}

h1 {
    color:red ;
    background-color: black;
}

P {
    font-size: 25px;
    font-weight: 200;
}

img {
    height: 200px;
    width: 200px;
}

/* To call the class, you will start with n "." */

.abc {
    font-size: 35px;
    color: aqua;
    background-color: black;
}

/* To call an ID you will use "#" */

#xyz{
    font-size: 35px;
    color: aliceblue;
    background-color:red ;
}

.qwe{
    background-color: brown;
}

h1{
    display:inline ;
}

a{ 
    display: block;
}